{% extends "/frontoffice/base.html.twig" %}
    {% block title %}
<!-- Page Header -->
        <header class="header">       
            <h1 class="home_h1">SAHED NACERA</h1>
            <h2 class="home_h2">Apprenez à apprendre chaque jour avec nos posts.</h2>
        </header>
        <main>            
    {% endblock title %}  
    {% block all_posts %}
    {#{% for post in posts %}
        <article id="post" >
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>
        <a href="Projet_5\templates\frontoffice\post.html.twig" class="btn btn-primary">Go somewhere</a>
        </article>
    {% endfor %}#}
        <h2 class="h1-responsive font-weight-bold text-center my-4">En savoir plus sur moi </h2>
        <img class='avatar' src="\assets\home\AvatarNs.png">
        <a class="nav-link" id="cv" href="/assets/cv/CV.ND.pdf"> Télécharger mon CV</a><br>
    
<!-- Contact form -->
   
        <section class="mb-4">
            <h2 class="h1-responsive font-weight-bold text-center my-4">Nous contacter</h2>
            <p class="text-center w-responsive mx-auto mb-5">Vous avez des questions? N'hésitez surtout pas à nous contacter . Nous reviendrons vers vous dès que possible.</p>
        <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="" method="POST">
               
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="lastname" class="">Nom</label>
                            <input type="text" id="lastname" name="lastname" class="form-control">
                        </div>
                    </div>

                     <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="firstname" class="">Prénom</label>
                            <input type="text" id="firstname" name="firstname" class="form-control">
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Email</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Objet</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Votre message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <div class="btnDiv">
                <a class="btn" id="btn" onclick="document.getElementById('contact-form').submit();">Soumettre</a>
            </div>
            <div class="status"></div>
        </div> 

        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>50 rue Marie Curie , 75011 Paris</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p> 01 23 67 89 60</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@blog.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>

  {% endblock %}  