{% extends "/frontoffice/base.html.twig" %}

{% block title %}Formulaire de contact{% endblock %}

{% block content %} 

<section id="mail">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
           {# {% if %}#}
                <p class="text-center">Le mail a bien été envoyé. Nous vous contacterons dans les plus bref délais</p>
                <a href="/" class="btn btn-success btn-lg">Retour à la page d'accueil</a>
            {#{% endif %}#}
                <p class="text-center">Le mail n'a pas été envoyé, le formulaire contient une erreur.</p>
            </div>
        </div>
    </div>
 </div>
</section>
{% endblock %}
