{% extends "/frontoffice/base.html.twig" %}

{% block stylesheet %} 
<link href="/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block title %}Tous les posts{% endblock %}

{% block content %} 
    <h2 id="postTitle">Nos posts</h2>
    {% for post in posts %}
        <article id="postContent">
            <h2>{{ post.title }}</h2>
            <p>{{ post.text}}</p>
            <p>{{ post.subtitle}}</p>
            <a href="index.php?action=post&id={{ post.id}}">Lire le post</a>
            <hr>
        </article>
    {% endfor %}
{% endblock %}
