{% extends "/frontoffice/base.html.twig" %}

{% block stylesheet %} 
<link href="/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block title %}<h2 class="postsTitle">Tous les posts</h2>{% endblock %}

{% block content %} 
    {% for post in posts %}
        <article id="postContent">
            <h2>{{ post.title }}</h2>
            <p>{{ post.text}}</p>
            <p>{{ post.subtitle}}</p>
            <a href="index.php?action=post&id_post={{post.id}}">Lire le post</a>
            <hr>
        </article>
    {% endfor %}
{% endblock %}
