.danger {
    color: red ;
}

#navbar-brand {
    color:rgb(27, 25, 25) ;
    font-size: 1.6rem ;
}
#nav {
    background-color: #f7fcfc ;
}

#nav-link1 {
    color:black ;
    font-size: 1.2rem ;
}

#nav-link2 {
    color:black ;
    font-size: 1.2rem ;
}

#nav-link3 {
    color:black ;
    font-size: 1.2rem ;
}

#nav-link4 {
    color:black ;
    font-size: 1.2rem ;
}

#logo {
    margin-left: 25px ;
    margin-right: 50px ;
}

.header {
    background-image: linear-gradient(to bottom, rgba(236, 231, 236, 0.726), rgba(0,0,128,0.5)), url('../background/landscape.jpg') ;
    background-size: cover;
    text-align: center ;
    padding-top: 150px;
    padding-bottom: 150px;

}

.home_h1 {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home_h2 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic ;
}
#postTitle {
    text-align: center ;
}

.avatar {
    width: 20%;
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}

#cv {
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#postContent {
    text-align: center;
    background-color: rgb(235, 235, 235);
    block-size: 75% border-box;
    font-size: 14px;
    width: 40%;
    margin: auto;
    
}


#contact-form {
    background-color: #F8F9F9;
    width: 60% ;
    border: solid rgba(209, 209, 209, 0.89);
    padding: 10px 10px 10px 5px ;
    margin-left: auto;
}

#btn {
    border: solid black;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 20%;
    justify-content: center;
   
}

.btnDiv {
    position: static;
    
}

#footer {
    background-color: rgb(204, 200, 200) ;
    border-top: #f8f8f894 solid 1px ;
    padding-top: 10px ;
    padding-bottom: 10px;
}

#footer_sentence{
    font-size: 16px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*page posts*/

.postsTitle {
    text-align: center ;
    padding-top: 20px ;
    padding-bottom: 20px ;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#postTitle{
    text-align: center;
}

#postcontent{
    text-align: center;
    background-color: white;
}

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}