{% extends "/backoffice/base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block content %} 
  <!-- Content Row  -->
    <div class="row">
      <!-- Content Column -->
      <div class="col-lg-12 mb-8">
        <!-- Posts List -->
        <div class="card shadow mb-4">
          <div class="card-header py-3 bg-gray">
            <h6 class="m-0 font-weight-bold text-black">Commentaires</h6>
          </div>
          <div class="card-body">
            <table class="table table-striped table-dark text-center" aria-describedby="liste des commentaire">
              <thead>
                <tr>
                  <th scope="col">Auteur</th>
                  <th scope="col">Contenu</th>
                  <th scope="col">Date de création</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for comment in comments %}
                  <tr> 
                      <td>{{ comment.pseudo }}</td>
                      <td>{{ comment.text }}</td>
                      <td></td>
                      <td>
                      <a class="btn btn-sm btn-primary shadow-sm" data-toggle="modal" href="">Valider</a>
                      <a class="btn btn-sm btn-danger shadow-sm" data-toggle="modal" href="">Supprimer</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
           <!--  Content  -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <p class="help-block text-danger"><?= $errorMessage ?></p>
    <p class="help-block text-success"><?= $successMessage ?></p>
        <h2>Gestion des commentaires non-modérés</h2>
        <p><i class="fas fa-check"></i> = Valider le commentaire</p>   
        <p><i class="fas fa-trash-alt"></i> = Supprimer le commentaire</p>                                                                   
        <div class="table-responsive">      
            <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Auteur</th>
                <th>PostId</th>
                <th>Opérations</th>
              </tr>
            </thead>
            <tbody>
            <?php foreach ($comments as $comment): ?>
              <tr>
                <td><?= $this->sanitize($comment->getId()) ?></td>
                <td><?= $this->sanitize($comment->getContent()) ?></td>
                <td><?= $this->sanitize($comment->getDateCreation()) ?></td>
                <td><?= $this->sanitize($comment->getUsername()) ?></td>
                <td><?= $this->sanitize($comment->getPostId()) ?></td>
                <td>
					<a class="btn btn-success operation" href="admin/enableComment/<?= $this->sanitize($comment->getId()) ?>">
						<i class="fas fa-check"></i>
					</a>
                	<a class="btn btn-danger operation" href="admin/deleteComment/<?= $this->sanitize($comment->getId()) ?>" onclick="return confirm('Cette action supprimera ce commentaire de façon permanente. Êtes vous sûr ?')">
                		<i class="fas fa-trash-alt"></i>
                	</a>

                </td>
              </tr>
            <?php endforeach; ?>
            </tbody>
            </table>
        </div>
      
    </div>
  </div>
</div>
                    
 

        
{% endblock %}
