{% extends "/backoffice/base.html.twig" %}

{% block title %}Admin{% endblock %}

{% block content %} 


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Editer un post</h2>
      
      <form method="post" action="" >
        <div class="control-group">
          <div class="form-group controls">
            <label for="title">Titre</label>
            <input name="title" value="" type="text" class="form-control" placeholder="Titre" >
            
          </div>
        </div>
        
        <div class="control-group">
          <div class="form-group controls">
            <label for="chapo">Chapo</label>
            <input name="chapo" value="" type="text" class="form-control" placeholder="Chapo" >
            
          </div>
        </div>
        
        <div class="control-group">
          <div class="form-group controls">
            <label for="content">Contenu</label>
            <textarea name="content" rows="10" type="text" class="form-control" placeholder="Content" ></textarea>
          
          </div>
        </div>
        
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" name="submitted" class="btn btn-primary" value="submitted">Modifier le post</button>
        </div>
      </form>
      
    </div>
  </div>
</div>


        
{% endblock %}